body{
    background-color: #fff;
    text-align: center;
}
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.destaque{
    margin-top: 58px;
}
.destaque h1{
    width: 177px;
    height: 63px;
    margin-top: 58px;
    margin: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
}
#destaque p{
    width: 700px;
    height: 35px;
    margin: auto;
    font-size: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;

}
.top{
    width: 100vw;
    padding-top: 15px;
    padding-bottom: 14px;
    background-color: #181818;
}
.top p{
    color: #fff;
}
.bottom{
    width: 100vw;
    padding-top: 15px;
    padding-bottom: 14px;
    background-color: #181818;
}
.bottom p{
    color: #fff;
}
#title{
    width: 160px;
    height: 47px;
    margin: 6px auto  3px;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}
#title p{
    width: 460px;
    height: 70px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100px;
    font-size: 18px;

}
#background{
    background-image: url("assets/banner.png");
    background-size: cover;
    margin-top: -10px;
    width: 100%;
    height:378px; 
    box-shadow:inset 0 0 0 200px rgba(24, 24, 24, 0.6);
}
.translucent{
    width: 1440px;
    height: 378px;
    left: 0px;
    top: 119px;
    background: #181818;
}
#background h1{
    position: absolute;
    text-align: left;
    color: #fff;
    width: 400px;   
    height: 39px;
    font-style: normal;
    left: 100px;
    top: 248px;
}
#background p{
    position: absolute;
    width: 50%;
    height: 70px;
    left: 100px;
    top: 306px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    color: #F9F9F9;
}
.produtos{
    margin-bottom: 100px;
}
.produtos img{
    text-align: center;
    width: 300px;
    height: 302px;
    background: #EBE9EA;
    margin-right: 15px;
    margin-top: 39px;
    cursor: pointer;
}
